@font-face {
  font-family: "Computer Modern Concrete";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cmu-concrete/CMUConcrete-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Computer Modern Concrete";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cmu-concrete/CMUConcrete-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Computer Modern Concrete";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cmu-concrete/CMUConcrete-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Computer Modern Concrete";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cmu-concrete/CMUConcrete-BoldItalic.woff2") format("woff2");
}

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: "Computer Modern Concrete", serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

a {
  color: #2d2f92;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.15em;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

.site-title {
  font-size: 1.1875rem;
}

.home-site-title {
  font-family: monospace;
}

.post-title {
  font-family: monospace;
  font-size: 1.5rem;
}

.site-description,
.post-content p {
  text-align: justify;
  text-justify: inter-word;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: monospace;
}

.post-content ul {
  list-style-type: square;
}

li { margin: 0.4rem 0; }

.recent-posts-heading {
  font-family: monospace;
  font-size: 1.0625rem;
  font-weight: 700;
  list-style-type: none;
}

.home-menu ul {
  list-style-type: square;
}

.post-list {
  list-style-type: square;
}

.post-list .post-list-date {
  color: #666666;
}

.home-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: ' ———— ' }
  &:after { content: attr(data-content) ' ———— ' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
