---
layout: default
---

<script>
window.MathJax = {
  tex: {
    inlineMath: { '[+]': [['$', '$']] },
    processEscapes: true,
    tags: 'ams'
  },
  output: {
    fontExtensions: ['mathjax-euler']
  }
};
</script>

<script defer
        src="https://cdn.jsdelivr.net/npm/mathjax@4.1.3/tex-mml-chtml.js">
</script>

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-content">
    {{ content }}
  </div>
</article>
